* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    overflow-x: hidden;
    background-color: #04000c;
}

/* NAVBAR */
nav {
    background: rgba(36, 17, 75, 0.95);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 20px;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head {
    font-size: 28px;
    font-weight: bold;
    color: aquamarine;
}

/* nav menu */
nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    text-transform: uppercase;
}

a.active {
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    border-radius: 6px;
}

/* hamburger menu */
.checkbtn {
    font-size: 26px;
    color: white;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Nav Responsive*/
@media (max-width: 900px) {

    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 70px;
        right: -100%;
        width: 60%;
        height: 100vh;
        background: rgba(36, 17, 75, 0.95);
        flex-direction: column;
        gap: 40px;
        padding-top: 50px;
        transition: 0.4s ease-in-out;
    }

    nav ul li a {
        font-size: 18px;
    }

    #check:checked~ul {
        right: 0;
    }
}

/* Section*/
section {
    padding: 100px 40px;
    color: white;
    background: radial-gradient(circle, #0f0232, #04000c);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

h2 {
    color: aquamarine;
    text-align: center;
    margin-bottom: 30px;
}

/* About Section*/
.aboutSection {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

#myPic {
    width: 380px;
    max-width: 90%;
    border-radius: 10px;
}


.aboutMe {
    max-width: 600px;
    line-height: 1.6;
}


.toCover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons i {
    font-size: 32px;
    margin: 15px;
    color: rgb(225, 99, 204);
}

.get-Info {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.get-Info div {
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    padding: 10px 20px;
    border-radius: 12px;
}

/* mobile */
@media (max-width: 700px) {
    .aboutSection {
        text-align: center;
    }

    .get-Info {
        flex-direction: column;
        width: 100%;
    }

    .get-Info div {
        width: 100%;
        text-align: center;
    }
}

/* Projects */
.allProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.project {
    padding: 20px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid pink;
    transition: 0.3s;
}

.project:hover {
    background: rgba(36, 17, 75, 0.9);
}

.project p {
    margin: 10px 0;
}

.project li {
    margin-left: 20px;
}


/* Skills Section */
#skills {
    padding: 80px 40px;
    text-align: center;
}

.skills-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

/* Auto-scroll animation */
.skills-track {
    display: flex;
    gap: 40px;
    width: max-content;
    animation: slide 18s linear infinite;
}

/* Stop scrolling when user hovers */
.skills-wrapper:hover .skills-track {
    animation-play-state: paused;
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.skill-box {
    width: 150px;
    height: 150px;
    border: 1px solid pink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
    background: transparent;
}

.skill-box img {
    width: 50px;
    height: 50px;
}

.skill-box:hover {
    transform: scale(1.15);
}


/* Education Section */
#education {
    width: 100%;
    padding: 60px 20px;
    background: radial-gradient(circle, #0f0232, #04000c);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#education h2 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 600;
}


.Education {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Education Card */
.Degree {
    background: transparent;
    padding: 25px;
    border: 1px solid pink;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
}

.Degree h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
}

.Degree p {
    font-size: 15px;
    margin: 5px 0;
}

/*  Responsive Design */
@media (max-width: 768px) {
    #education {
        padding: 50px 15px;
    }

    #education h2 {
        font-size: 28px;
    }

    .Degree {
        max-width: 90%;
        padding: 20px;
    }

    .Degree h3 {
        font-size: 20px;
    }

    .Degree p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #education h2 {
        font-size: 26px;
    }

    .Degree {
        padding: 18px;
    }

    .Degree h3 {
        font-size: 18px;
    }

    .Degree p {
        font-size: 13px;
    }
}



.contactMe {
    border: 1px solid pink;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#name,
#email,
#message {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid pink;
    background: transparent;
    color: white;
}

button {
    padding: 10px;
    color: white;
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 180px;
    align-self: center;
}


/* Footer */
#footer-Info {
    width: 100%;
    background: radial-gradient(circle, #0f0232, #04000c);
    color: #ffffff;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-Info>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#footer-Info .container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#footer-Info .item {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#footer-Info #emailAdd,
#footer-Info #location {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 500px) {
    #footer-Info .item {
        font-size: 14px;
    }
}



#footer {
    width: 100%;
    padding: 12px 0;
    color: white;
    text-align: center;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


/*  SCROLL TO TOP BUTTON*/
.getUp {
    height: 50px;
    width: 50px;
    background: linear-gradient(to right, #593ab0, #ca0f9b);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 35px;
    right: 20px;

    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.getUp:hover {
    box-shadow: 0 0 10px rgba(223, 205, 223, 0.7);
    transform: translateY(-3px);
}